/* You can add global styles to this file, and also import other style files */
.ngx-pagination .current {
    padding: 0.2875rem 0.725rem !important;
    background: #1a1a1a !important;
    color: #fefefe !important;
}